*,
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Cagliostro', sans-serif;
}


.card img {
    border-top-right-radius: 23px;
    border-top-left-radius: 23px;
}
@media only screen and (max-width: 670px) {
    body {
        background-color: lightblue;
        background-size: 100%;
    }
}

@media only screen and (orientation:portrait) {
    .main-form {
        margin: auto;
        padding: 1.5em;
    }
}


.tai {

    background-color: #000;
}

.contai {
    width: 100%;


}



.wrapper {
    width: 100%;
    position: relative;
    text-align: center;

    justify-content: center;
    display: flex;
}

.menu {
    height: 90px;
    position: fixed;
    z-index: 1;

}

nav {

    background-color: #26004d;
    display: flex;
    margin: auto;
    line-height: 10px;
    position: sticky;
    position: -webkit-sticky;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
    font-weight: bold;

    backdrop-filter: blur(5px);
    background-color: rgba(248, 249, 250, 0.386);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
    border-right: 2px rgba(40, 40, 40, 0.35) solid;

    text-align: center;
    font-size: 15px;
    top: 0;
    z-index: 1;
    border-radius: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(9, 9, 9);


}

nav li {
    list-style-type: none;
    display: inline;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: 1s;

}

nav ul li {
    float: left;
    justify-content: center;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding: 0px 10px 0px 10px;
    text-decoration: none;
    justify-content: center;
}

nav ul li a:hover {
    text-decoration: underline;
}

a.tbl-hme {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
    margin-right: 9px;

}

a.tbl-hme:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
    border-radius: 15px;
}

@media (min-width: 800px) {

    .nav ul li a {
        font-size: 30px;
    }



    .nav tbl-hme {
        font-size: 300px;
    }
}




@media (min-width: 250px) and (max-width: 750px) {
    .column svg {
        display: none;
    }

    .nav ul li a {
        font-size: 30px;
    }



    .nav tbl-hme {
        font-size: 1px;
    }

}

.slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;

    text-align: center;
    padding: 0 2em;

}

.slider h1 {

    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #ffffff;
    transition: all 0.3s ease;
    z-index: 0;
}

h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #ff0266;
}

.slider h2 {
    font-size: 2vw;
    letter-spacing: 0.3rem;

    font-weight: 300;
    color: #faebd7;
    z-index: 4;
}



span:hover {
    color: #ff0266;
    font-weight: 500;
    font-size: 2.2vw;
}

.card {
    /* From https://css.glass */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 23px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.196);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 2px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
    border-right: 2px rgba(40, 40, 40, 0.35) solid;
    transition: 2s;
}

.card:hover {
    width: 370px;
    height: 500px;
    background-color: rgba(4, 4, 62, 0.475);

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
    padding-top: 80px;
}



.container .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

.container .box::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
}

.container .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}

.container .box:hover:before,
.container .box:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);

}

.container .box:nth-child(1):before,
.container .box:nth-child(1):after {
    background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.container .box:nth-child(2):before,
.container .box:nth-child(2):after {
    background: linear-gradient(315deg, #03a9f4, #ff0058)
}

.container .box:nth-child(3):before,
.container .box:nth-child(3):after {
    background: linear-gradient(315deg, #43de01, #00d0ff)
}

.container .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}

.container .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08)
}

.container .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.container .box span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    animation-delay: -1s;
}

.container .box:hover span:after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translate(-10px);
    }
}

.container .box .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
}

.container .box:hover .content {
    left: -25px;
    padding: 60px 40px;
}

.container .box .content h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}

.container .box .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.container .box .content a {
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}

.container .box .content a:hover {
    background: #ffcf4d;
    border: 1px solid rgba(255, 0, 88, 0.4);
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

.row p {
    color: #fff;
}


/*=====================================================8*/
.lp {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-image: url(https://c0.wallpaperflare.com/preview/789/637/166/backlit-chiemsee-dawn-desktop-backgrounds.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    padding: 0 2em;

}

.lp1 {}

.lp h1 {

    font-family: 'Cagliostro', sans-serif;
    font-family: 'Righteous', sans-serif;
    ;
    font-size: 5vw;
    margin: 0;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
    color: #ffffff;
    transition: all 0.3s ease;


}

.lp h3 {
    color: #ffffff;
}

h1:hover {
    transform: translate3d(0, -10px, 22px);
    color: #02ff63;
}

h3:hover {
    transform: translate3d(0, -10px, 22px);
    color: #02ff56;
}


.btn:hover {

    transition: 600ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: rgb(8, 187, 71);
    border: solid 2px #0066cc;
}
